/********* General CSS Start **********/
body { 
	background: url("images/pl_body_bg-1x574.gif") repeat-x scroll center top #FFFFFF;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    margin: 10px 0 0;
    padding: 0;
}
.clear {clear: both;}
a {color: #222222; text-decoration: none;}
a:hover {color: #eb7125;}
.container {width:710px;}
.templateContent {padding: 10px;}
.featProdHeader {
	height:30px; 
	background:#eb7125; 
	text-align:left; 
	color:#FFFFFF; 
	font-size:13px; 
	line-height:30px; 
	padding:0px 10px;
}
.breadcrumb li a {font-weight: bold;}
.breadcrumb li:last-child a:hover{color: #eb7125;}
.categoryDesc {font-size: 12px;}
/********* General CSS End **********/

/********* App Preview CSS Start ********/
#appPreView {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #939598;
    border-radius: 18px 18px 18px 18px;
    min-height: 200px;
}
#appPreViewLogo {padding: 5px 175px;}
#loader {text-align: center; margin-top: 15px;}
/********* App Preview CSS End ********/


/********* Fixed Content CSS start **********/
#appView {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #939598;
    border-radius: 18px;
    margin: 0 auto;
    max-width: 900px;
}

/********* Header CSS start **********/
.header {height: 112px; position: relative;}
#logo {margin: 15px; float: left;}
.cartSection {
	float:right;
    margin: 10px;
}
.cartIcon {padding: 5px 0px;}
.cartSection h5 {
	color: #EB7125;
	text-align: right;
	margin-top: 20px;
}
.searchBarSection {
	background: none repeat scroll 0 0 #EB7125;
    height: 30px;
    position: absolute;
    top: 83px;
	width: 900px;
}
.productSearchForm {
    float: left;
    margin: 4px 0 0 7px;
    width: 225px;
}

.searchBtn {
    background: none repeat scroll 0 0 #D5DBDB;
    border: medium none;
    padding: 1px;
}
.headerNav {
	margin:0px;
	text-align: center;
	color: #FFFFFF;
}
.headerNav li {
    display: inline;
    font-size: 14px;
    line-height: 30px;
    padding: 0 12px;
}
.headerNav a{
    color: #FFFFFF;
	text-decoration: none;
}
.headerNav a:hover {
	text-decoration: underline;
}
/********* Header CSS End **********/


/********* Sidebar CSS Start **********/
.mainBody {display:table;}
.sideBar, .container{display: table-cell;}
.sideBar {
	max-width:188px; 
	background:#ffffff; 
	height:100%; 
	border-right: 1px solid #939598;
	vertical-align: top;
}
.sideBarCategories {background:#d7d9db;}

.sideBar h5 {
    padding: 10px 0;
    text-align: center;
}
.sideBarCategories ul {
    border-top: 1px solid #FFFFFF;
    margin: 0;
    padding: 10px 0 20px 45px;
}
.sideBarCategories li {
    font-size: 13px;
    list-style-image: url("images/pl_left_bull-7x11.gif");
    padding: 7px 0;
}
.newsletterSection {
	background: #EB7125;
	padding: 0px 9px 9px;
}
.sideBarFormFrm {
	width: 164px;
}
#sideBarSignUpButton {
    background: none repeat scroll 0 0 #D7D9DB;
    border: 1px solid #939598;
    padding: 3px;
}
.recentViewSection {
	border-bottom: 1px solid #D7D9DB;
}
.recentViewHeader {background: #D7D9DB;}
.productList li.recentViewList{
	width:180px;
	padding: 4px;
	margin: 0px;
	height: 100%;
	border-top: 1px solid #D7D9DB;
}
.recentViewList div{
	padding: 8px 0px;
}
.recentViewProdName{
	float:right;
	width: 125px;
	text-align: center;
}
.sideBarImages {
	margin: 10px 0px;
}
 .sideBarImages img {
	margin:0px auto;
	display: block;
 }
 .visitBlogImg{
	padding: 20px 0px;
 }
/********* Sidebar CSS End **********/


/********* Footer CSS Start **********/
.footerNav {
	margin:0px;
	text-align: center;
    color: #FFFFFF;
	background: #EB7125;
	padding: 0px;
}
.footerNav li {
    display: inline;
    font-size: 14px;
    line-height: 30px;
    padding: 0 12px;
}
.footerNav a{
    color: #FFFFFF;
	text-decoration: none;
}
.footerNav a:hover {
	text-decoration: underline;
}
.copyrightSection {
	text-align: center;
	font-size: 12px;
}
.copyrightSection p {margin: 6px 0px;}
/********* Footer CSS End **********/
/********* Fixed Content CSS End **********/




/********* Homepage CSS Start **********/
#slideshowContainer {
	position:relative;
	z-index:10;
	width: 600px;	
	height: 284px;
	margin:0 auto;
	overflow:hidden;
	z-index:5;
}
#slideshow {
	width: 600px;	
	height: 284px;
	position:absolute; 
	left:0; 
	top:0;
	overflow:hidden;
}
#slideshowNav {
    bottom: 5px;
    right: 10px;
    position: absolute;
    text-align: left;
    z-index: 50;
}
#slideshowNav a {
    background: none repeat scroll 0 0 #FFA46C;
    border: 1px solid #EB7125;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 12px;
}
#slideshowNav a:hover, #nav a.activeSlide {
    color: #EB7125;
}
#slideshowNav a:focus {
    outline: medium none;
}

/********* Homepage CSS End **********/


/********* Company Pages CSS Start **********/
.sideline {
	border:1px solid #939598;
	margin: 10px 4px 24px;
	padding: 15px;
}
.sideline a {
	color:#000000;
}
.sideline a:hover {
	color: #eb7125;
}
.companyPageHeader {
	background: none repeat scroll 0 0 #364D6E;
    color: #FFFFFF;
    font-size: 17px;
    padding: 3px 8px;
}
.textContentArea p{margin: 8px 4px;}
.textContentArea h3 {
	color: #666666;
	margin: 15px 4px 0px;
}

/********* Company Pages CSS End **********/


/********* ProductListTemplate CSS Start **********/
.productList > li	{
	width:148px; 
	height:275px; 
	position:relative;
}
.quickView {
    background: none repeat scroll 0 0 #EB7125;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    padding: 4px;
}
.prodListImage {
	border:1px solid #939598;
	width: 145px;
	height: 145px;
}
.prodListName {
	margin-bottom: 5px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	height: 68px;
}
.prodListPrice {
	color:#eb7125;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}
.prodListButton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
	background: #EB7125;
	color: #ffffff;
	font-weight: bold;
	border: none;
}
/********* ProductListTemplate CSS End **********/


/********* ProductTemplate CSS Start **********/
.productPage{
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
}
.imageContainer {width: 345px;}
.prodBigImage {
	border: 1px solid #939598;
}
.prodViewerContainer .prodThumbs a {
	float: left;
	margin:6px;
	border: 1px solid #939598;
}
.prodName {
	color: #666666;
	font-size: 16px;
	font-weight: 700;
}
.ui-button.ui-button-text.ui-corner-all.ui-state-default.addToCartButton {
    background: none repeat scroll 0 0 #EB7125;
    border: medium none;
    color: #FFFFFF;
    font-weight: bold;
	font-size: 16px;
	padding: 7px 15px;
}
.reviewBtn {width: 110px; height: 30px;}
.reviewLineItem blockquote{margin: 0px;}
/********* ProductTemplate CSS End **********/


/********* Cart/Checkout CSS Start **********/
.placeOrderButton.ui-state-highlight.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
	font-size: 18px;
    font-weight: bold;
    padding: 0 10px;
}
.placeOrderButton.ui-state-highlight.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only:hover {
	background:url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
	color: #eb7125;
}
/********* Cart/Checkout CSS End **********/
.footer .newsletterSection {background: #D7D9DB; padding: 9px;}
.foooterNewsletter{width: 170px; margin: 0 auto;}
#footerSignUpButton {    
	background: none repeat scroll 0 0 #EB7125;
    border: 1px solid #666666;
	color:#ffffff;
    padding: 3px;
}

/* Tablet landscape view */
@media only screen and (min-width:641px) and (max-width:959px) {
.displayNoneLandscape {display:none;}
.displayBlockLandscape {display:block;}

#appView { max-width: 610px; }

.searchBarSection {width: 610px;}
.productSearchForm {width: 152px;}
.productSearchKeyword {width: 115px;}
.headerNav li {padding: 0px 6px;}

.sideBar {max-width: 160px;}
.sideBarCategories ul {padding: 10px 0px 20px 30px;}
.sideBarFormFrm {width: 136px;}
#recentlyViewedItemsContainer .productList{width: 162px;}
.productList li.recentViewList {width:153px;}
.recentViewProdName {width:95px;}

.container {width: 449px;}
.productList {width: 344px; margin: 0 auto;}
.quickViewSection {display: none;}
.mainColumn {width: 332px;}

.prodViewerContainer {margin: 0 auto; max-width: 345px;}
.imageContainer {padding: 0px; float: none; width: 100%;}
.prodSummaryContainer {width: 100%; padding: 0px 10px; float: none; clear:both;}
.prodReviewInfo {margin:0px 12px 8px 0px; float: none;}

#cartTemplateForm .productList{width: 198px;}
}

/* Tablet portrait view */
@media only screen and (min-width:480px) and (max-width:640px) {
.displayNonePortrait{display:none;}
.displayBlockPortrait {display:block;}

#appPreView {width: 460px;}
#appPreViewLogo {padding: 5px 130px;}

#appView { max-width: 460px; }

.header {height:143px;}
.searchBarSection {width: 460px; height: 60px;}
.searchSection {margin: 0 auto; width: 225px;}
.productSearchForm {width: 215px; float: none;}
.productSearchKeyword {width: 175px;}
.headerNav {float: left;}
.headerNav li {padding: 0px 6px;}

.sideBar {max-width: 130px;}
.sideBarCategories ul {padding: 10px 0 20px 24px;}
.sideBarFormFrm {width: 110px;}
#recentlyViewedItemsContainer .productList{width: 162px;}
.productList li.recentViewList {width:121px;}
.recentViewList div {padding: 3px 0px;}
#recentlyViewedItemsContainer .prodThumb {display: block; margin: 0 auto;}
.recentViewProdName {width:121px;}

.container {width: 449px;}
#mainContentArea {width: 330px;}
.productList {width: 344px; margin: 0 auto;}
.productList > li {margin: 10px 3px;}
.quickViewSection {display: none;}
.mainColumn {width: 235px;}
.sideline {padding: 10px 25px 10px 5px;}

.prodViewerContainer {margin: 0 auto; max-width: 345px;}
.imageContainer {padding: 0px; float: none; width: 100%;}
.prodBigImage {margin: 0 auto;}
.prodViewerContainer .prodThumbs a {margin: 4px;}
.prodSummaryContainer {width: 100%; padding: 0px 10px; float: none; clear:both;}
.prodReviewInfo {margin:0px 12px 8px 0px; float: none;}
#cartTemplateForm .productList{width: 305px;}
}

/* Mobile view */
@media only screen and (max-width: 479px) {
.displayNoneMobile{display:none;}
.displayBlockMobile {display:block;}

#appPreView {width: 290px;}
#appPreViewLogo {padding: 5px 45px;}

#appView {max-width: 290px;}

.header {height: 250px;}
#logo{margin: 15px 6px;}
.cartSection {width: 125px; text-align: right; margin: 5px 10px 0px 0px;}
.cartSection h5 {margin-top:10px;}
.searchBarSection {top: 100px; width: 290px; height: 85px;}
.searchSection {margin: 0 auto; width: 225px;}
.productSearchForm {width: 215px; float: none;}
.productSearchKeyword {width: 175px;}
.headerNav {float: left; padding: 0px;}

.ddMenu {position: relative; display: block; width:280px; margin: 5px auto 0px; top: 93px;}
.ddMenuBtn{margin:0px; padding:14px 0px; outline:medium none; overflow:hidden; border:1px solid #939598; background:#D7D9DB; font-size:20px; color:#000000; text-align:center; border-radius: 4px;}
.dropdown { background: #D7D9DB; position: absolute; z-index:999; top:51px; left: 0px; height: 0px; border: 1px solid #939598; border-top: none; border-radius: 0px 0px 7px 7px;}
.dropdown > div { border-top: 1px solid #939598; font-size: 15px; line-height: 34px; text-align: center;}

.productList {width: 173px; margin: 0 auto;}
.quickViewSection {display: none;}
.mainColumn {width: 205px;}
.textContentArea p {word-wrap: break-word;}
.contactEmail {width: 133px;}
.sideline {padding: 10px 25px 10px 5px;}

.productPage {width: 240px; margin: 0 auto;}
.imageContainer {padding: 0px; float: none; width: 100%;}
.prodBigImage {margin: 0 auto;}
.prodViewerContainer .prodThumbs a {margin: 4px;}
.prodSummaryContainer {width: 100%; padding: 0px 10px; float: none; clear:both;}
.prodReviewInfo {margin:0px 12px 8px 0px; float: none;}

#cartTemplateForm .productList{width: 270px;}

.copyrightSection {width: 240px; margin: 0 auto;}
}