.ui-widget-overlay {
    background: #939598;
    opacity: 0.45;
	height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
	z-index:99;
}
.redirectModal.ui-widget-content{
	border-radius: 0px;
	z-index:100;
}
.redirectToSiteApp.ui-dialog-content.ui-widget-content {
    background: none repeat scroll 0 0 #ffffff;
    padding: 20px;
}
.ui-button.ui-state-default.ui-button-text-only {
    font-weight: bold;
    padding: 8px;
}
.redirectModal .ui-dialog-titlebar-close,
.redirectModal .ui-dialog-titlebar {
	display: none;
}
.redirectToSiteApp {text-align:center;}
.autoRedirectToSiteApp {text-align:center;}

.floatLeft {float: left;}
.floatRight{float: right;}

.stopFutureRedirectMessage {display:none;}
